<md-content flex layout-padding class="md-subhead content-serv">
  <p>I'm soldering some wires, fixing broken circuit board. I'll promise to be back later.</p>
  <p>Meanwhile, follow me:</p>

  <div class="socials">
    <a href="https://twitter.com/bluestella"><i class="ion-social-twitter-outline"></i></a>
    <a href="https://github.com/bluestella"><i class="ion-social-github-outline"></i></a>
    <a href="https://ph.linkedin.com/in/bluestella"><i class="ion-social-linkedin-outline"></i></a>
    <a href="https://instagram.com/bluestella"><i class="ion-social-instagram-outline"></i></a>
  </div>
</md-content>
